.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    /* Chiều cao toàn màn hình */
    color: #d9534f;
}

.error-icon {
    font-size: 48px;
}

.error-message {
    font-size: 18px;
    margin-top: 10px;
}